
.icon-mobile-1:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-gauge:before { content: '\e803'; } /* '' */
.icon-adult:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */