@import url('https://fonts.googleapis.com/css?family=Roboto:300|Exo+2|Rubik:300,400&display=swap&subset=cyrillic');


html {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #05445c, #5c4f74);
}

body {
    background: transparent;
    font-size: 18px;
    max-width: 2000px;
    margin: auto;
}

h1,
h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

li,
ul,
p,
a {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

}

/*--------NAVBAR--------*/
/*--------MOBILE-NAV--------*/
#mobileNav {
    width: 0%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: rgba(57, 73, 101, 0.95);
    background: linear-gradient(to bottom left, #05445c, #5c4f74);
    overflow-x: hidden;
    transition: .5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #ABCDEF;
    display: block;
    transition: .3s;
}

.overlay a::after {
    height: 0;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/*--------/MOBILE-NAV--------*/

/*--------HAMBURGER--------*/

.hambergerIcon {
    height: 4px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50px;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all ease .5s;
}

.hambergerIcon::before,
.hambergerIcon::after {
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
}

.hambergerIcon::before {
    top: -10px;
    left: 0;
    transform-origin: left;
}

.hambergerIcon::after {
    bottom: -10px;
    right: 0;
    transform-origin: right;
}

.open {
    transform: translate(-50%, -50%) rotate(135deg);
}

.open::before {
    top: 0;
    transform: translateX(100%) rotate(-90deg);
}

.open::after {
    bottom: 0;
    transform: translateX(-100%) rotate(-90deg);
}

/*--------/HAMBURGER--------*/

#nav {
    padding: 20px 100px;
}

.navbar-toggler {
    background-color: transparent;
    z-index: 2;
    border: none;
    height: 50px;
    width: 50px;

}

.navbar-toggler:focus {

    outline: none !important;

}

.navbar-brand {
    font-size: 2.5em;
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand i {
    font-size: 60%;
}


.nav-link {
    margin: 0 10px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.4rem;
    transition: all .5s;

}

.nav-link:after {
    transition: all .3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    border-radius: 0.5em;
    background-color: rgba(171, 205, 239, 0.5);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.nav-link:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* Keyframes */

/* .nav-link {
    font-family: 'Exo 2', sans-serif;
    display: block;
    margin: auto;
    padding: 1rem 1.9rem;
    font-size: 1.4rem;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    position: relative;
    -webkit-transition: all .3s cubic-bezier(0.2, 0, 0, 1);
    transition: all .3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}

.nav-link:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: rgba(171, 205, 239, 0.5);
    border-radius: 10px;
    -webkit-transition: all .3s cubic-bezier(0.2, 0, 0, 1);
    transition: all .3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}

.nav-link:hover {
    color: #2D2D2D;
}

.nav-link:hover:after {
    right: 0;
    left: 0;
    height: 100%;
} */

/*--------/NAVBAR--------*/

/*------------------------HOME PAGE------------------------*/
.separator {
    border: none;
    background-color: #ABCDEF;
    opacity: 70%;
    color: #ABCDEF;
    height: 2px;
    width: 70%;
    margin: 0 auto;
}

.text-center h1 {
    margin: 30px 20px;
    color: #ABCDEF;
    font-size: 2.3em;
}

.text-center h2 {
    margin: 30px 20px;
    color: #ABCDEF;
    font-size: 2em;
}

/*--------HOME-BLOCKS--------*/
#services-block {
    width: 95%;
    margin: 0 auto;
}

.mainblock-link:hover {
    text-decoration: none;
}

.container-main {
    background-color: rgba(171, 205, 239, 0.5);
    color: #1D1D1D;
    border: 2px solid #ABCDEF;
    margin: 60px auto;
    padding: 20px 10px;
    border-radius: 25px;
    transition: .3s;
}

.container-main:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: #ABCDEF;
}

.container-main h3 {
    margin: auto 0;
    font-size: 1.5em;
}

.header-icons {
    font-size: 3.5em;
}

/*--------/HOME-BLOCKS--------*/

/*--------FEAURES&CONTACTS--------*/
.main-footer {
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto;
}

.main-footer li {
    list-style-type: none;
}

.main-footer ul {
    color: #ABCDEF;
    vertical-align: middle;
}

.left {
    font-size: 1.2em;
    text-align: right;
    border-right: 2px solid #ABCDEF;
    padding: 0 50px 0 0;
    width: 85%;
}

.left li {
    padding: 12px 0;
}

.left li i {
    padding: 0 20px;
}

.right {
    text-align: center;
    margin: 0 auto;
}

.switch-block {
    opacity: 0;
    transition: .2s;
}

.hover-contact-icon {
    transition: all .3s;
    font-size: 2.2em;
}

.hover-contact-icon:hover {
    background-color: rgba(171, 205, 239, 0.5);
    border-radius: 0.5em;
    transition: .2s;
    cursor: pointer;
}

#collapsed-contact-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.start-anim {
    opacity: 1;
    display: block;
}


#contact .main-footer-icons {
    transition: 0.5s;
    margin: 0 10px;
    position: relative;
    display: inline-block;
    font-size: 2em;
}

#contact .info {
    min-height: 2.5em;
    border-radius: 15px;
    font-size: 1.2em;
    background-color: rgba(171, 205, 239, 0.5);
    box-shadow: 0 0 20px rgba(25, 53, 65, 0.5);
}

#contact .info a {
    height: fit-content;
}

#contact .icon-cancel-circled {
    font-size: 2em;
    cursor: pointer;
    color: #2D2D2D;
    transition: .3s;
}

#contact .icon-cancel-circled:hover {
    color: red;
}

#contact a {
    text-decoration: none;
    color: #323232;
    transition: 0.5s;
    float: none;
    display: inline-block;
    cursor: pointer;
    height: 100%;
    margin: auto 0;
}

#contact a:hover {
    color: #ABCDEF;
    transition: .3s;
}

.main-footer-icons {
    color: #ABCDEF;
    transition: .3s;
    font-size: 1.2em;
}

.hover-contact-icon .icon-phone:hover {
    color: #21e00f;
}

.hover-contact-icon .icon-paper-plane:hover {
    color: #0088cc;
}

.hover-contact-icon .icon-whatsapp:hover {
    color: #25d366;
}

.hover-contact-icon .icon-vkontakte:hover {
    color: #3376c9;
}

/*--------/FEAURES&CONTACTS--------*/
/*------------------------/HOME PAGE------------------------*/
/*------------------------SERVICES PAGE------------------------*/
#services {
    padding: 20px 20px 0 20px;
}

.grid-item {
    padding: 10px;
}

.grid-item-content {
    color: #282936;
    border-radius: 1em;
    padding: 2em;
    transition: .3s;
}

.grid-item-content:hover {
    box-shadow: 0 2px 20px #323232;
}

.grid-item-content ul {
    padding: 1em;
}

.price-container {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    background: linear-gradient(120deg, #21b5ff, #8245df);
    color: #eaeef4;
}

.p1, .p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.p2 {
    margin-bottom: 2em;
}

.success-container {
    position: absolute;
    top: 0;
    bottom: 6em;
    left: 0;
    right: 0;
    z-index: -999;
}

svg {
    width: 100%;
    height: 100%;
}

path {
    stroke-dasharray: 99.47578430175781;
    stroke-dashoffset: -99.47578430175781;
    fill: transparent;
}

svg.animate path {
    animation: 1.7s ease forwards draw;
    opacity: 1;
}

@keyframes draw {
    0% {
        opacity: 1;
        stroke-dashoffset: 0;
        fill: transparent;
        transform: translateY(0);
    }

    35% {
        stroke-dashoffset: -99.47578430175781;
        fill: transparent;
    }

    60% {
        fill: #3da35a;
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        fill: #3da35a;
        opacity: 0;
        transform: translateY(-10px);
    }
}

.order {
    outline: none !important;
    transition: .2s;
    margin: 2em auto 0 auto;
    width: 100%;
    padding: 15px 34px;
    overflow: hidden;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    border-width: 0;
    border-radius: 0.5em;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    outline: none;
    cursor: pointer;
    background: linear-gradient(90deg, #49c2ff, #6a27d2);
}

.order:hover {
    box-shadow: 5px 5px 0px #282936;
}

#landing {
    background-color: #f0c0b5;
}

#multiple {
    background-color: #eaeef4;
}

#mobile {
    background-color: #8ec1c5;
}

#design {
    background-color: #e3e5b3;
}


/*------------------------/SERVICES PAGE------------------------*/



@media (min-width: 2048px) {
    .hover-contact-icon {
        font-size: 2.5em;
    }

}

@media (min-width: 1366px) and (max-width: 2047px) {
    body {
        font-size: 16px;
    }

    .container-main {
        padding: 20px;
    }
}

@media (min-width: 800px) and (max-width: 1366px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    body {
        font-size: 16px;
    }

    h1,
    h2 {
        font-weight: 500;
    }

    #nav {
        margin-top: 30px;
        padding: 0 30px;
    }

    .header-center {
        margin: 30px 0;
        font-size: 90%;
    }

    .container-main {
        margin: 15px auto;
    }

    .main-footer ul {
        padding: 0;
        vertical-align: top;
    }

    .left {
        border-right: none;
        padding-top: 15px;
        margin: 30px auto;
        border-bottom: 2px solid #ABCDEF;
        border-top: 2px solid #ABCDEF;
    }

    .left li {
        padding: 15px 0px;
        text-align: left;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 13px;
    }

    h1,
    h2 {
        font-weight: 500;
    }

    #nav {
        margin-top: 20px;
        padding: 0 20px;
    }

    .header-center {
        margin: 30px 0;
    }

    .separator {
        width: 80%;
    }

    .container-main {
        margin: 20px auto;
    }

    .main-footer ul {
        padding: 0;
        vertical-align: top;
    }

    .left {
        border-right: none;
        padding: 0;
        padding-top: 15px;
        border-bottom: 2px solid #ABCDEF;
        border-top: 2px solid #ABCDEF;
        margin: 30px auto;
    }

    .left li {
        padding: 10px 0px;
        text-align: left;
    }

    .hover-contact-icon {
        font-size: 1.2em;
    }

}