@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

html {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #05445c, #5c4f74);
}

body {
    background: transparent;
    font-size: 18px;
}

/*--------NAVBAR--------*/
/*--------MOBILE-NAV--------*/
#mobileNav {
    width: 0%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: rgba(57, 73, 101, 0.95);
    background: linear-gradient(to bottom left, #05445c, #5c4f74);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #ABCDEF;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/*--------MOBILE-NAV--------*/

/*--------HAMBURGER--------*/
.navbar-toggler {
    background-color: transparent;
    z-index: 2;
    border: none;
    height: 30px;
    ;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 30px;
    height: 3px;
}

.hamburger-menu {
    position: relative;
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;
}

.animate {
    background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    ;
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    ;
}

/*--------HAMBURGER--------*/

#nav {
    padding: 30px 100px;
}

.navbar-brand {
    font-size: 2.5em;
    margin-top: -7px;
    font-family: "Share Tech Mono", monospace;
}

.nav-link {
    display: block;
    margin: auto;
    padding: 1rem 1.9rem;
    font-size: 1.4rem;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}

.nav-link:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: rgba(171, 205, 239, 0.5);
    border-radius: 10px;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}

.nav-link:hover {
    color: #2D2D2D;
}

.nav-link:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}

/*--------NAVBAR--------*/

/*--------MAINPAGE--------*/
.separator {
    border: none;
    background-color: #ABCDEF;
    opacity: 70%;
    color: #ABCDEF;
    height: 2px;
    width: 70%;
    margin: 0 auto;
}

.text-center h1 {
    margin: 30px 20px;
    color: #ABCDEF;
    font-size: 2.3em;
}

.text-center h2 {
    margin: 30px 20px;
    color: #ABCDEF;
    font-size: 2em;
}

/*--------HOME-BLOCKS--------*/
#home .row {
    width: 95%;
    margin: 0 auto;
}

.container-main {
    background-color: rgba(171, 205, 239, 0.5);
    border: 2px solid #ABCDEF;
    margin: 60px auto;
    padding: 20px 10px;
    border-radius: 25px;
    transition: 0.5s;
}

.container-main:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: #ABCDEF;
    transition: 0.5s;
}

.container-main h3 {
    margin: auto 0;
    font-size: 1.5em;
}

.header-icons {
    font-size: 3.5em;
}

/*--------/HOME-BLOCKS--------*/

/*--------FEAURES&CONTACTS--------*/
.main-footer {
    padding-bottom: 30px;
}

.main-footer li {
    list-style-type: none;
}

.main-footer ul {
    color: #ABCDEF;
    vertical-align: middle;
}

.main-footer .left {
    font-size: 1.3em;
    text-align: right;
    border-right: 2px solid #ABCDEF;
    padding: 0 50px 0 0;
}

.main-footer .left li {
    padding: 15px 0;
}

.main-footer .left li i {
    padding: 0 20px;
}

.right {
    text-align: center;
}

.hover-contact-icon {
    transition: 0.2s;
    display: block;
}

.hover-contact-icon:hover {
    background-color: rgba(171, 205, 239, 0.5);
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

#collapsed-contact-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.5s;

}

#collapsed-contact-wrap .main-footer-icons {
    font-size: 2.5em;
}

#collapsed-contact-wrap .icon-cancel {
    font-size: 1.5em;
    cursor: pointer;
}

#collapsed-contact-wrap .icon-cancel:hover {
    background-color: #f5493d;
    border-radius: 0.3em;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.collapsed-contact {
    background-color: rgba(171, 205, 239, 0.5);
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#contact a {
   
    text-decoration: none;
    color: #323232;
    transition: 0.5s;
    height: 50px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}

#contact a span{
    margin: auto 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#contact a:hover {
    color: #ABCDEF;
    transition: 0.5s;
}

.main-footer-icons {
    color: #ABCDEF;
    transition: 0.5s;
    font-size: 1.2em;
}

.hover-contact-icon .icon-phone:hover {
    color: #21e00f;
    transition: 0.5s;
}

.hover-contact-icon .icon-paper-plane:hover {
    color: #0088cc;
    transition: 0.5s;
}

.hover-contact-icon .icon-whatsapp:hover {
    color: #25d366;
    transition: 0.5s;
}

.hover-contact-icon .icon-vkontakte:hover {
    color: #3376c9;
    transition: 0.5s;
}

.icon-cancel {
    color: #f5493d;
    transition: 0.5s;
}
#contact a {
    font-size: 20px;
    margin: auto 10px;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

#contact a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    margin-top: 10px;
    background-color: #ABCDEF;
    content: "";
    transition: width 0.3s ease-out;
}

#contact a:hover:after,
#contact a:focus:after {
    width: 100%;
}
/*--------/FEAURES&CONTACTS--------*/

@media (min-width: 2048px) {
    .main-icons {
        padding: 10px 0;
    }

}

@media (min-width: 1366px) and (max-width: 2047px) {

    .hover-contact-icon {
        font-size: 2.2em;
    }
}

@media (min-width: 800px) and (max-width: 1366px) {

    .right .col-3 a:hover {
        border-radius: 15px;
    }

    .hover-contact-icon {
        font-size: 2.2em;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    body {
        font-size: 16px;
    }

    #nav {
        padding: 30px;
    }

    .header-center {
        margin: 30px 0;
        font-size: 90%;
    }

    .container-main {
        margin: 15px auto;
        padding: 20px 0;
    }

    .main-footer ul {
        padding: 0;
        vertical-align: top;
    }

    .main-footer .left {
        border-right: none;
        padding-top: 15px;
        margin: 30px 0;
        border-bottom: 2px solid #ABCDEF;
        border-top: 2px solid #ABCDEF;
    }

    .main-footer .left li {
        padding: 15px 0px;
        text-align: left;
    }

    .hover-contact-icon {
        font-size: 1.8em;
    }

    .hover-contact-icon:hover {
        border-radius: 15px;
    }

    #collapsed-contact-wrap {
        position: relative;
    }

}

@media (max-width: 400px) {
    body {
        font-size: 13px;
    }

    #nav {
        padding: 15px;
    }

    .header-center {
        margin: 30px 0;
    }

    .separator {
        width: 80%;
    }

    .container-main {
        margin: 20px auto;
        padding: 10px 0;
    }

    .main-footer ul {
        padding: 0;
        vertical-align: top;
    }

    .main-footer .left {
        border-right: none;
        padding: 0;
        padding-top: 15px;
        margin: 30px 0;
        border-bottom: 2px solid #ABCDEF;
        border-top: 2px solid #ABCDEF;
    }

    .main-footer .left li {
        padding: 10px 0px;
        text-align: left;
    }

    .hover-contact-icon {
        font-size: 1.7em;
    }

    .hover-contact-icon:hover {
        border-radius: 10px;
    }

    #collapsed-contact-wrap span i {
        font-size: 2em;
        padding: 0;
        margin: 0 0 0 -15px;;
    }

    #collapsed-contact-wrap {
        position: relative;
    }

    a,
    a>span {
        font-size: 0.8em;
    }
}