.bonus {
  padding: 35px 20px;
  color: @smoky-white;
  background: linear-gradient(90deg, rgb(58, 15, 15) 0%, #000 20%, #000 80%, rgb(58, 15, 15) 100%);

  .bonus_title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: @color-primary;
  }

  .bonus_content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
  }
}
