.conditions {
  padding: 35px 20px;
  color: @smoky-white;
  background: linear-gradient(90deg, rgb(29, 8, 8) 0%, #000 20%, #000 80%, rgb(29, 8, 8) 100%);

  .conditions_proposal {
    max-width: 1500px;
    margin: 0 auto;

    h2 {
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
      color: @color-primary;
    }
  }

  .conditions_needed {
    max-width: 1000px;
    margin: 0 auto;
  }

  .masonry_grid {
    margin: 0 auto;

    .grid-item {
      width: 250px;
      padding: 10px;
      height: fit-content;

      .grid-content {
        padding: 5px 10px;
        color: #000;
        border-radius: 3px;
        background-color: @color-dark-gray;

        color: @color-primary;
        display: grid;
        grid-template-columns: 25px auto;
        grid-gap: 10px;
        align-items: center;

        i {
          margin: 0 auto;
        }
      }
    }
  }

  .masonry-grid_column {
    background-clip: padding-box;
  }
}
